<template name="landingPage">
	<div id="landing-page" class="container-fluid">
	</div>

	<div class="jumbotron">
		<div id="landing-page-banner" class="jumbotron">
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>
						<button class="btn banner-buttons">
							<i class="fa fa-github" style="color: black">
							</i>
						<span class="bullet-text">Github</span>
						</button>
						</li>

						<li>
						<button class="btn banner-buttons">
							<i class="fa fa-twitter" style="color: #0084b4">
							</i>
							<span class="bullet-text">Twitter</span>
						</button>
						</li>

						<li>
							<button class="btn banner-buttons">
								<i class="fa fa-facebook" style="color: #3b5998">
								</i>
								<span class="bullet-text">Facebook</span>
							</button>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<img id="banner-image" src="au_logo.jpg" />
				</div>
			</div>
		</div>
	</div>
</template>