<template name="yaksSubmit">
	<br>
	<div class="yaksSubmit">
		<div class="form-style">
			<div class="container">
					<form class="yaksSubmitForm" >
						
						<h3>Send yak. It's anonymous</h3>

						<input autofocus="autofocus" type="text" id="postTitle" class="form-control" name="postTitle" placeholder="Title"/>

						<textarea id="yak" class="form-control" name="yak" rows=7 placeholder="What do you want to Yak about?"></textarea>

						<input type="submit" value="Submit" class="btn btn-primary form-control">
					</form>
			</div>
		</div>
	</div>
</template>